<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:wght@100&family=Roboto+Flex:wght@100;200&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap"
        rel="stylesheet">
    <title>Legal | The Voices of Inspiration | OUC</title>
</head>

<body>
    <div class="header">
        <a href="/"><img style="width: 35%; text-align: left; margin-left: 20px;" src="/static/assets/icons/VOI_logo.png" alt=""></a>
        <a onmouseover="changeColor2(this)" onmouseleave="changeBack2(this)" href="/">HOME</a>
        <a onmouseover="changeColor2(this)" onmouseleave="changeBack2(this)" href="/about">ABOUT</a>
        <a onmouseover="changeColor2(this)" onmouseleave="changeBack2(this)" href="/director">DIRECTOR</a>
        <a onmouseover="changeColor2(this)" onmouseleave="changeBack2(this)" href="/events">EVENTS</a>
        <a onmouseover="changeColor2(this)" onmouseleave="changeBack2(this)" href="/donate">DONATE</a>
        <a onmouseover="changeColor2(this)" onmouseleave="changeBack2(this)" href="/faq">FAQ</a>
        <a onmouseover="changeColor2(this)" onmouseleave="changeBack2(this)" href="/shop">SHOP</a>
        <a onmouseover="changeColor2(this)" onmouseleave="changeBack2(this)" href="/login">LOGIN</a>
        <a onmouseover="changeColor2(this)" onmouseleave="changeBack2(this)" href="/register">JOIN</a>
        <a onmouseover="changeColor2(this)" onmouseleave="changeBack2(this)" href="/contact">CONTACT</a>
        {% if "member_id" in session  %}
            <a style="color: yellow; font-weight: bold;" href="logout">LOGOUT</a>
        {% endif %}
    </div>
    <div>
        <div style="padding: 20px; background-color: rgb(128, 128, 128);">
            <div style="padding: 20px;">
                <h1 style="padding-top: 20px; padding-bottom: 20px; text-align: center;">Legal Stuff</h1>
                <br>
                <h2 style="padding-top: 20px; padding-bottom: 20px;">Terms of Use</h2>
                <br>
                <p>
                    You agree to use our website for legitimate purposes and not for any illegal or unauthorized
                    purpose, including without limitation, in violation of any intellectual property or privacy law.
                    <br>
                    You will not be held liable for any harm caused to others by user generated content.
                    <br>
                    Neither the Voices of Inspiration choir administration nor Oakwood University Church is responsible
                    for any malware contracted by using the site.
                    <br>
                    If a user misuses the service or violates the terms, the Voices of Inspiration choir administration
                    is legally able to delete or suspend the user's account.
                    <br>
                    Voices of Inspiration disclaims any liability for the content or products sold or provided on any
                    third-party websites as it holds no control over them.
                    <br>
                </p>
                <br>
            </div>
            <div style="padding: 20px;">
                <h2 id="L2" style="padding-top: 20px; padding-bottom: 20px;">Privacy Policy</h2>
                <br>
                <p>
                    We are committed to maintaining the accuracy, confidentiality, and security of your personally
                    identifiable information ("Personal Information"). We are responsible for maintaining and protecting
                    the Personal Information under our control.
                    <br>
                    <br>
                    1. Introduction
                    <br>
                    We are responsible for maintaining and protecting the Personal Information under our control. We
                    have designated an individual or individuals who is/are responsible for compliance with our privacy
                    policy.
                    <br>
                    <br>
                    2. Identifying Purposes
                    <br>
                    We collect, use and disclose Personal Information to provide you with the product or service you
                    have requested. The purposes for which we collect Personal Information will be identified before or
                    at the time we collect the information. In certain circumstances, the purposes for which information
                    is collected may be clear, and consent may be implied, such as where your name, address and/or
                    payment information is provided as part of the order process.
                    <br>
                    <br>
                    3. Consent
                    <br>
                    Knowledge and consent are required for the collection, use or disclosure of Personal Information
                    except where required or permitted by law. Providing us with your Personal Information is always
                    your choice. However, your decision not to provide certain information may limit our ability to
                    provide you with our products or services. We will not require you to consent to the collection,
                    use, or disclosure of information as a condition to the supply of a product or service, except as
                    required to be able to supply the product or service.
                    <br>
                    <br>
                    4. Limiting Collection
                    <br>
                    The Personal Information collected will be limited to those details necessary for the purposes
                    identified by us. With your consent, we may collect Personal Information from you in person, over
                    the telephone or by corresponding with you via mail, facsimile, or the Internet.
                    <br>
                    <br>
                    5. Limiting Use, Disclosure and Retention
                    <br>
                    Personal Information may only be used or disclosed for the purpose for which it was collected unless
                    you have otherwise consented, or when it is required or permitted by law. Personal Information will
                    only be retained for the period of time required to fulfill the purpose for which we collected it or
                    as may be required by law.
                    <br>
                    <br>
                    6. Accuracy
                    <br>
                    Personal Information will be maintained in as accurate, complete and up-to-date form as is necessary
                    to fulfill the purposes for which it is to be used.
                    <br>
                    <br>
                    7. Safeguarding Personal Information
                    <br>
                    Personal Information will be protected by security safeguards that are appropriate to the
                    sensitivity level of the information. We take all reasonable precautions to protect your Personal
                    Information from any loss or unauthorized use, access or disclosure.
                    <br>
                    <br>
                    8. Openness
                    <br>
                    We will make information available to you about our policies and practices with respect to the
                    management of your Personal Information.
                    <br>
                    <br>
                    9. User Access
                    <br>
                    Upon request, you will be informed of the existence, use and disclosure of your Personal
                    Information, and will be given access to it. You may verify the accuracy and completeness of your
                    Personal Information, and may request that it be amended, if appropriate. However, in certain
                    circumstances permitted by law, we will not disclose certain information to you. For example, we may
                    not disclose information relating to you if other individuals are referenced or if there are legal,
                    security or commercial proprietary restrictions.
                    <br>
                    <br>
                    10. Handling User Complaints and Suggestions
                    <br>
                    You may direct any questions or inquiries with respect to our privacy policy or our practices by
                    contacting:
                    <br>
                    <br>
                    Kirsten Davis-Hardware <br>
                    (123) 456-7890 <br>
                    kirhardware@gmail.com <br>
                    <br>
                    <br>
                    <br>
                    Additional Information
                    <br>
                    <br>
                    Cookies
                    <br>
                    A cookie is a small computer file or piece of information that may be stored in your computer's hard
                    drive when you visit our website. We may use cookies to improve our website's functionality and in
                    some cases, to provide visitors with a customized online experience.
                    <br>
                    Cookies are widely used and most web browsers are configured initially to accept cookies
                    automatically. You may change your Internet browser settings to prevent your computer from accepting
                    cookies or to notify you when you receive a cookie so that you may decline its acceptance. Please
                    note, however, if you disable cookies, you may not experience optimal performance of our website.
                    <br>
                    <br>
                    Other Websites
                    <br>
                    Our website may contain links to other third party sites that are not governed by this privacy
                    policy. Although we endeavour to only link to sites with high privacy standards, our privacy policy
                    will no longer apply once you leave our website. Additionally, we are not responsible for the
                    privacy practices employed by third party websites. Therefore, we suggest that you examine the
                    privacy statements of those sites to learn how your information may be collected, used, shared and
                    disclosed.
                </p>
                <br><br>
            </div>
        </div>
    </div>

    <hr>
    <div class="footer">
        <div>
            <br>
            <p>MY ACCOUNT</p>
            <a class="a-tags" href="/login">Sign In</a><br>
            <a class="a-tags" href="/register">Register</a><br>
            <br>
            <p>ABOUT</p>
            <a class="a-tags" href="/about">Who We Are</a><br>
            <a class="a-tags" href="/events#past_performances">Past Performances</a>
        </div>
        <br>
        <div>
            <p>HELP</p>
            <a class="a-tags" href="/contact">Contact Us</a><br>
            <br>
            <p>LEGAL STUFF</p>
            <a class="a-tags" href="/legal">Terms of Use</a><br>
            <a class="a-tags" href="/legal#L2">Privacy Policy</a>
        </div>
        <br>
        <p>Copyright Voices of Inspiration. All Rights Reserved</p>
        <br>
    </div>
</body>

</html>