<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:wght@100&family=Roboto+Flex:wght@100;200&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap"
        rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous'>
    <title>Meet The Director | The Voices of Inspiration | OUC</title>
</head>

<body>
    <div class="whole-container-box">
        <div class="header">
            <a href="/"><img style="width: 35%; text-align: left; margin-left: 20px;" src="/static/assets/icons/VOI_logo.png" alt=""></a>
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/director">DIRECTOR</a>
            <a href="/events">EVENTS</a>
            <a href="/donate">DONATE</a>
            <a href="/faq">FAQ</a>
            <a href="/shop">SHOP</a>
            <a href="/login">LOGIN</a>
            <a href="/register">JOIN</a>
            <a href="/contact">CONTACT</a>
            {% if "member_id" in session  %}
                <a style="color: yellow; font-weight: bold;" href="logout">LOGOUT</a>
            {% endif %}
        </div>
        <div class="title">
            <p class="main-title">Meet Our Director</p>
        </div>
        <div>
            <img id="" src="\static\assets\voi-pics\voi5.png" alt="Stephen Manders directing VOI"><br><br>
            <div style="text-align: center;">
                <h2 style="padding: 20px;" class="text">Stephen Manders, OUC Minister of Music</h2>
                <br>
                <img style="height: 30%; width: 30%;" src="/static/assets/voi-pics/stephen_manders_1.jpg" alt="Stephen in yellow blazer in Gianna Snell's studio"><br><br>
                <p class="text" style="padding: 20px; width: 50%; height: 100%; margin: 0 auto;">
                    <a href="https://www.stephenmanders.net/">Stephen Manders</a> is a native of Bermuda. He has lived in America since he came to Oakwood University for school in 2004. He is a former director of Dynamic Praise, and has written numerous gospel songs for his own group, <a href="https://youtu.be/hlaxrRV6eFY?si=lRWt0zG4RlTsq_FO">Stephen Manders & Decree</a>, as well as for other popular gospel artists. Stephen has been the director of VOI since 2015.
                </p>
                <br><br><br>
            </div>
        </div>
        <hr style="color: white;">
        <div class="footer">
            <div>
                <br>
                <p>MY ACCOUNT</p>
                <a class="a-tags" href="/login">Sign In</a><br>
                <a class="a-tags" href="/register">Register</a><br>
                <br>
                <p>ABOUT</p>
                <a class="a-tags" href="/about">Who We Are</a><br>
                <a class="a-tags" href="/events#past_performances">Past Performances</a>
            </div>
            <br>
            <div>
                <p>HELP</p>
                <a class="a-tags" href="/contact">Contact Us</a><br>
                <br>
                <p>LEGAL STUFF</p>
                <a class="a-tags" href="/legal">Terms of Use</a><br>
                <a class="a-tags" href="/legal#L2">Privacy Policy</a>
            </div>
            <br>
            <p>Copyright Voices of Inspiration. All Rights Reserved</p>
            <br>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>